<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">

    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="控制台打印 ${longdate}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${longdate} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target name="info" xsi:type="File" maxArchiveFiles="30"
                    fileName="${shortdate}.txt"
                    layout="${newline} 【当前时间】: ${date:format=yyyy-mm-dd HH\:mm\:ss}
                            ${newline} 【报错级别】：${level}                             
                            ${newline} 【出错行数】：${callsite-linenumber:className=true:methodName=true:skipFrames=1}                
                            ${newline} 【出错方法】：${callsite:className=true:methodName=true:skipFrames=1}                                                 
                            ${newline} 【 Message 】：${message}                           
                            ${newline} 【 堆 栈 】： ${stacktrace}
                            ${newline} 【 线 程 】： ${threadname}  
                            ${newline} 【 名 称 】： ${machinename}
                            ${newline} 【 程序域基础目录 】： ${basedir}
                            " />
    
    
    <!--<target name="info" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/Info/info${shortdate}.txt"
                    layout="${date:format=HH\:mm\:ss} | ${message}  " />-->

    <!--保存至文件-->
    <target name="error" xsi:type="File" maxArchiveFiles="30"  
                    fileName="${shortdate}.txt"
                    layout="${newline} 【当前时间】: ${date:format=yyyy-mm-dd HH\:mm\:ss}
                            ${newline} 【报错级别】：${level}                             
                            ${newline} 【出错行数】：${callsite-linenumber:className=true:methodName=true:skipFrames=1}                
                            ${newline} 【出错方法】：${callsite:className=true:methodName=true:skipFrames=1}                                                 
                            ${newline} 【 Message 】：${message}                           
                            ${newline} 【 堆 栈 】： ${stacktrace}
                            ${newline} 【 线 程 】： ${threadname}  
                            ${newline} 【 名 称 】： ${machinename}
                            ${newline} 【 程序域基础目录 】： ${basedir}
                            " />
    <!--如需详细配置其他选项  =>  https://blog.csdn.net/u013667895/article/details/79016059-->
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>